.Container{
    justify-content: center;
   text-align: center;
   margin-top: 50px;
}
.Text{
    font-weight: 600;
}
.Logo{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: -300px;
}